__pycache__/
*.py[cod]
*$py.class

# Local environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
.DS_Store

# Local configs and logs
.env
logs/
*.log

# Git
.git/
.gitignore

#generate data
./data
./error_reports
./Knowledge_base_query

#experiments and deprecated files
./deprecated
./experiments
test.py