OPENAI_API_KEY=sk-proj-***********************enIA

# Database Connection Details
DB_USERNAME=p*****
DB_PASSWORD=M******
DB_HOST=3.*.***.***
DB_PORT=5432

# Phoenix API Key
PHOENIX_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6*************