#AWS CONFIG
AWS_REGION=us-east-1
AWS_ACCESS_KEY=AKIA**************
AWS_SECRET_KEY=Uj4***************************
 
#Embedding Model - 1024 Dimensions
BEDROCK_MODEL_ID_TITAN=amazon.titan-embed-text-v2:0

#Chat Model
BEDROCK_MODEL_ID_LLAMA=arn:aws:bedrock:us-east-1:498398192936:inference-profile/us.meta.llama3-3-70b-instruct-v1:0

#Classification Model
BEDROCK_MODEL_ID_CLASSIFICATION=arn:aws:bedrock:us-east-1:498398192936:inference-profile/us.meta.llama3-3-70b-instruct-v1:0

# Database Connection Details
DB_USERNAME=p*****
DB_PASSWORD=M******
DB_HOST=3.*.***.***
DB_PORT=5432

# Phoenix API Key
PHOENIX_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6*************